body{

    background-image:linear-gradient(to right, black, blue, black );


}
img{
    border-radius:20px;

}
h1{
    font-family: 'Times New Roman', Times, serif;
    background-color: aqua;
    width:fit-content;
    padding: 10px;
    color:black;
}